html {
}

#main {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	font-family:"Comic Sana MS",cursive,sans-serif;
	padding: 20px;
	background-color:rgba(255,255,255,0.9);
	margin-top: 20px;
	border: 2px solid rgb(243, 237, 255);
	font-family:"Comic Sana MS",cursive,sans-serif
}

.container h1{
	color: blue;
	font-family:"Comic Sana MS",cursive,sans-serif
}

.container h3{
	color: #dd3574;
	font-family:"Comic Sana MS",cursive,sans-serif
}

.container h6{
	color: #0077aa;
	font-family:"Comic Sana MS",cursive,sans-serif
}


.modal-body h2 {
	color: #0000ff;
	text-align: center;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-left {
	color: #0077aa;
	margin: 0 0 0 30px;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-left label {
	display: none;
}

#form-spacing-left {
	color: #0077aa;
	margin: 0;
	float: right;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-left.span3 ul {
	color: #0077aa;
	margin: 0;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-left.span3 ul li {
	color: #dd3574;
	display: block;
	float: left;
	margin: 0 20px 0 0;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-right{
	margin: 40px 0 0 30px;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

form label {
	width: 90px;
	margin-bottom: 10px;
}

.thumbnails  input[type="radio"], .thumbnails input[type="checkbox"] {
	display: block;
	float: left;
	position: relative;
	top: 7px;
}

.thumbnails li label {
	display: block;
	width: auto;
	text-align: center;
}

.modal-header-top {
	color: #dd3377;
	text-align: center;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#customise-title {
	text-align: center;
}

#create-btn {
	margin: -50px 50px 0 0;
	font-size: 25px;
	padding: 10px;
	float: right;
}

#avatar {
	clear: both;
}

.thumbnail h3 {
	text-align: center;
	font-size: 12px;
}

.thumbnail-small {
	width:90px;
	height: 90px;
}

#myModal {
	width: auto;
}

.modal-body {
  	max-height: auto;
  	padding: 15px;
}

#main-avatar {
	
}

.modal{
 position:fixed;
 top:10%;
 left:50%;
 z-index:1050;
 width:auto;
 height:auto;
 margin-left:-280px;
 background-color:#fff;
 border:1px solid #999;
 border:10px solid rgba(228,240,255,0.3);
 *border:1px solid #999;
 -webkit-border-radius:35px;
 -moz-border-radius:35px;
 border-radius:35px;
 outline:0;
 -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding-box;
 background-clip:padding-box
 }
 
 .modal-customise{
 position:fixed;
 top:10%;
 left:50%;
 z-index:1050;
 width:590px;
 margin-left:-280px;
 background-color:#fff;
 border:1px solid #999;
 border:10px solid rgba(228,240,255,0.3);
 *border:1px solid #999;
 -webkit-border-radius:35px;
 -moz-border-radius:35px;
 border-radius:35px;
 outline:0;
 -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding-box;
 background-clip:padding-box
 }
 
 .modal-games{
 position:fixed;
 top:10%;
 left:50%;
 z-index:1050;
 width:auto;
 height:600px;
 margin-left:-280px;
 background-color:#fff;
 border:1px solid #999;
 border:10px solid rgba(228,240,255,0.3);
 *border:1px solid #999;
 -webkit-border-radius:35px;
 -moz-border-radius:35px;
 border-radius:35px;
 outline:0;
 -webkit-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -moz-box-shadow:0 3px 7px rgba(0,0,0,0.3);
 box-shadow:0 3px 7px rgba(0,0,0,0.3);
 -webkit-background-clip:padding-box;
 -moz-background-clip:padding-box;
 background-clip:padding-box
 }
 
.modal-body{
 position:relative;
 padding:15px;
 overflow-y: hidden;
 overflow-x: hidden
 }
 
 .well{
	background-color: rgb(235, 230, 255)
 }

 .modal-header{padding:9px 15px;
 border-bottom:1px solid #eee;
 -webkit-border-radius: 22px 22px 0 0;
 -moz-border-radius:22px 22px 0 0;
 border-radius:22px 22px 0 0;
 background-color: rgb(235, 230, 255)
 }
 
 .modal-footer{padding:14px 15px 15px;
 margin-bottom:0;text-align:right;
 background-color: rgb(235, 230, 255);
 border-top:1px solid #ddd;
 -webkit-border-radius:0 0 36px 36px;
 -moz-border-radius:0 0 36px 36px;
 border-radius:0 0 22px 22px;
 *zoom:1;
 -webkit-box-shadow:inset 0 1px 0 #fff;
 -moz-box-shadow:inset 0 1px 0 #fff;
 box-shadow:inset 0 1px 0 #fff;
 position: relative;
 top: 20px;
 }
 
 .thumbnail{
 display:block;
 background:rgba(204,204,255,1);
 padding:4px;
 line-height:20px;
 border:1px solid #ddd;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);
 box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -webkit-transition:all .2s ease-in-out;
 -moz-transition:all .2s ease-in-out;
 -o-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 height: 100px;
 width: 100px 
 }
 
  .thumbnail-avatar{
 display:block;
 background:rgba(204,204,255,1);
 padding:4px;
 line-height:20px;
 border:1px solid #ddd;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -webkit-transition:all .2s ease-in-out;
 -moz-transition:all .2s ease-in-out;
 -o-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 height: auto;
 width: auto;
 }
 
   .thumbnail-kidsPage{
 display:block;
 background:rgba(204,204,255,1);
 padding:4px;
 line-height:20px;
 border:1px solid #ddd;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -moz-box-shadow:0 1px 3px rgba(0,0,0,0.055);box-shadow:0 1px 3px rgba(0,0,0,0.055);
 -webkit-transition:all .2s ease-in-out;
 -moz-transition:all .2s ease-in-out;
 -o-transition:all .2s ease-in-out;
 transition:all .2s ease-in-out;
 height: 200px;
 width: 200px;
 }
 
 a.thumbnail:hover{
 border-color:#08c;
 -webkit-box-shadow:0 1px 4px rgba(0,105,214,0.25);
 -moz-box-shadow:0 1px 4px rgba(0,105,214,0.25);
 box-shadow:0 1px 4px rgba(0,105,214,0.25)
 }
 
 #games .thumbnails li input, #background .thumbnails li input, #videos .thumbnails li input{
	width: 20px;
	padding: 5px 0 0 0;
 }
 
 .thumbnails h6 {
	display: block;
	float: left;
	padding: 0 0 0 5px;
 }
 
 .modal-body {
	max-height: auto !important;
 }
