html {
}

#main {
	background: url(../img/main-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	padding: 20px;
	background: #FFFFFF;
	margin-top: 20px;
}

.modal-body h2 {
	text-align: center;
}

#form-left {
	margin: 0 0 0 30px;
}

#form-left label {
	display: none;
}

#form-spacing-left {
	margin: 0 10px 0 50px;
}

#form-spacing-right{
	margin: 40px 0 0 30px;
}

form label {
	width: 60px;
}

.modal-header-top {
	text-align: center;
}

#customise-title {
	float: left;
}

#create-btn {
	margin: 10px 130px 0 0;
	font-size: 25px;
	padding: 10px;
	float: right;
}


