html {
}

#main {
	background: url(../img/main-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.container {
	font-family:"Comic Sana MS",cursive,sans-serif;
	padding: 20px;
	background-color:rgba(255,255,255,0.9);
	margin-top: 20px;
	border: 2px solid #000000;
}



.modal-body h2 {
	color: #0000ff;
	text-align: center;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-left {
	color: #0077aa;
	margin: 0 0 0 30px;
	font-family:"Comic Sana MS",cursive,sans-serif;

}

#form-left label {
	display: none;
}

#form-spacing-left {
	color: #0077aa;
	margin: 0;
	float: right;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-left.span3 ul {
	color: #0077aa;
	margin: 0;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-left.span3 ul li {
	color: #dd3574;
	display: block;
	float: left;
	margin: 0 20px 0 0;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#form-spacing-right{
	margin: 40px 0 0 30px;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

form label {
	width: 90px;
	margin-bottom: 10px;
}

form input[type="radio"], input[type="checkbox"] {
	margin: 0 0 0 0;
}

.modal-header-top {
	color: #dd3377;
	text-align: center;
	font-family:"Comic Sana MS",cursive,sans-serif;
}

#customise-title {
	text-align: center;
}

#create-btn {
	margin: -50px 50px 0 0;
	font-size: 25px;
	padding: 10px;
	float: right;
}

#avatar {
	clear: both;
}

.thumbnail h3 {
	text-align: center;
	font-size: 12px;
}

.thumbnail-small {
	width:90px;
	height: 90px;
}

.modal-body {
	overflow-y: hidden;
}
