					<li class="span2">
						<a href="#video{{ forloop.counter }}" role="button" data-toggle="modal" class="thumbnail">
							<img src="/{{ video.screenShot }}" alt="" />
						</a>
					<input type="checkbox" value="{{ video.id }}" name="choices" />
					<h6>{{ video.name }}</h6>
					</li>
				<div id="video{{ forloop.counter }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h3 id="myModalLabel">{{ video.name }}</h3>
					</div>
					<div class="modal-body">
					{{ video.embedCode|safe }}
					</div>
					<div class="modal-footer">
						<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
					</div>
				</div>