{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id="customise-content">
	<form method="POST" action="/play/">
	{% csrf_token %}
		<h1 id="customise-title">Customise a page for {{ name }}</h1>
		<input id="create-btn" type="submit" class="btn btn-primary" value="Play">
		<div class="row">
			<div class="pull-left span5" id="avatars">
				{% include "includes/avatar.html" %}
			</div>
			<div class="pull-right span6" id="backgrounds">
				{% include "includes/background.html" %}
			</div>
		</div>
		<!-- / row -->
		<div class="row">
			<div class="pull-left span6">
				<h3>Select Games</h3>
				<ul class="thumbnails">
				{% for game in games %}
					{% include "includes/game.html" %}
				{% endfor %}
				</ul>
			</div>
			<div class="pull-left span6">
				<h3>Select Videos</h3>
				<ul class="thumbnails">
				{% for video in videos %}
					{% include "includes/video.html" %}
				{% endfor %}
				</ul>
			</div>
		</div>
		<!-- / row -->
		</form>
	</div>
	<!-- / customise-content -->
</div>
<!-- / container -->
{% endblock %}
{% block extra %}
<script src="{{ STATIC_URL }}js/utils.js"></script>
<script src="{{ STATIC_URL }}js/checkboxes.js"></script>
{% endblock %}
