{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id="customise-content">
	<form method="POST" action="/play/">
	{% csrf_token %}
		<h1 id="customise-title">Customise a page for {{ name }}</h1>
		<input id="create-btn" type="submit" class="btn btn-primary" value="Create">
		<div class="row">
			<div class="pull-left span5" id="avatar">
				<h3>Select an Avatar</h3>
				<ul class="thumbnails">
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
				</ul>
			</div>
			<!-- / avatar -->
			<div class="pull-right span6" id="background">
				<h3>Select a Background</h3>
				<ul class="thumbnails">
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
					<li class="span2">
						<a href="#" class="thumbnail">
							<img data-src="holder/js/300x200" alt="" />
						</a>
					</li>
				</ul>
			</div>
			<!-- / background -->
		</div>
		<!-- / row -->
		<div class="row">
			<div class="pull-left span6" id="games">
				<h3>Select Games</h3>
			<ul class="thumbnails">
			{% for game in games %}
				<li class="span2">
					<a href="#myModalGame" role="button" data-toggle="modal"class="thumbnail">
						<img src="/{{ game.screenShot }}" alt="" />
						<h3>{{ game.name }}</h3>
					</a>
					<input type="checkbox" value="{{ game.id }}" name="choices" />
				</li>
			<!-- Modal -->
			<div id="myModalGame" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3 id="myModalLabel">{{ game.name }}</h3>
			  </div>
			  <div class="modal-body">
			    {{ game.embedCode|safe }}>
			  </div>
			  <div class="modal-footer">
			    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			    <button class="btn btn-primary">Save changes</button>
			  </div>
			</div>
			{% endfor %}
			</ul>
			</div>
			<!-- / games -->
			<div class="pull-left span6" id="videos">
				<h3>Select Videos</h3>
				<ul class="thumbnails">
					{% for video in videos %}
					<li class="span2">
						<a href="#myModalVid" role="button" data-toggle="modal" class="thumbnail">
							<img src="/{{ video.screenShot }}" alt="" />
							<h3>{{ video.name }}</h3>
						</a>
						<input type="checkbox" value="{{ video.id }}" name="choices" />
					</li>
					<!-- Modal -->
<div id="myModalVid" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">{{ video.name }}</h3>
  </div>
  <div class="modal-body">
    {{ video.embedCode|safe }}>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div>
</div>
					{% endfor %}
				</ul>
			</div>
			<!-- / videos -->
		</div>
		<!-- / row -->
		</form>
	</div>
	<!-- / customise-content -->
</div>
<!-- / container -->
{% endblock %}
