{% extends "base.html" %}

{% block content %}
  	  <div id="welcomeModal" class="modal hide fade" data-backdrop="static">
  		  <div class="modal-header">
  			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  			<h4>Hello!</h4>
  		  </div>
  		  <!-- / modal-header -->
  		  <div class="modal-body">
          <h2>Welcome to Let's Play!</h2>
  			  <h3 class="modal-header-top">Customise your content</h3>
          <form method="POST" action="/customise/">
          {% csrf_token %}
          <div class="well">
            <div class="row">
              <div class="span3" id="form-left">
                <h4>Tell Us About Your Child</h4>
                {{ form.name }}
                <div class="age-select">
                  {{ form.age }}
                </div>
                <!-- / age-select -->
                <div class="gender-select">
                  {{ form.sex }}
                </div>
                <!-- / gender -->
              </div>
              <!-- / span3 -->
              <div class="span3" id="form-spacing-left">
                <h4>Interests</h4>
                <div class="checkboxes">
                  <label>
                    <input type="checkbox" /> Select All
                  </label>
                  {{ form.interests }}
                </div>
                <!-- / checkboxes -->
              </div>
            </div>
            <!-- / row -->
          </div>
          <!-- / well -->
        </div>
        <!-- / modal-body -->
  		  <div class="modal-footer">
          <input type="submit" class="btn btn-primary pull-right" value="Play">
  		  </div>
      </form>
      </div>
{% endblock %}