{% extends "base.html" %}

{% block content %}
<div class="container">
	<div id="customise-content">
		<div class="row">
			<header>
				<div id="main-avatar" class="pull-left span2">
					{{ avatar.embedCode|safe }}
				</div>
			<hgroup>
				<h1>Hello {{ name }}!</h1>
				<h1>What do you want to play today?</h1>
			</hgroup>
		</div>
		<!-- / row -->
		<div class="row">
			<div class="pull-left span5" id="games">
				<h3>Play a Game</h3>
			<ul class="thumbnails">
			{% for game in games %}
				<li class="span2">
					<a onmouseover="mouseoversoundgame{{ forloop.counter }}.playclip()" href="#game{{ forloop.counter }}" role="button" data-toggle="modal"class="thumbnail">
						<img src="/{{ game.screenShot }}" alt="" />
					</a>
					<h6>{{ game.name }}</h6>
				</li>
			<!-- Modal -->
			<div id="game{{ forloop.counter }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h3 id="myModalLabel">{{ game.name }}</h3>
			  </div>
			  <div class="modal-body">
			    {{ game.embedCode|safe }}>
			  </div>
			</div>
			{% endfor %}
			</ul>
			</div>
			<!-- / games -->
			<div class="pull-left span5" id="videos">
				<h3>Watch a Video</h3>
				<ul class="thumbnails">
					{% for video in videos %}
					<li class="span2">
						<a onmouseover="mouseoversoundvideo{{ forloop.counter }}.playclip()" href="#video{{ forloop.counter }}" role="button" data-toggle="modal" class="thumbnail">
							<img src="/{{ video.screenShot }}" alt="" />
						</a>
						<h6>{{ video.name }}</h6>
					</li>
					<!-- Modal -->
<div id="video{{ forloop.counter }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h6 id="myModalLabel">{{ game.name }}</h6>
	</div>
  <div class="modal-body">
    {{ video.embedCode|safe }}>
  </div>
</div>
					{% endfor %}
				</ul>
			</div>
			<!-- / videos -->
		</div>
		<!-- / row -->
	</div>
	<!-- / customise-content -->
</div>
<!-- / container -->
{% endblock %}
